[color]
    ui = auto

[core]
    editor = nvim
    autocrlf = input
    whitespace = cr-at-eol
    pager = diff-so-fancy | less --tabs=2 -RFX

[init]
    defaultBranch = main

[grep]
    linenumber = true

[rerere]
    enabled = true

[difftool]
    prompt = false

[mergetool]
    prompt = false

[alias]
    # status & commit
    s = status -s
    c = commit -m
    ca = commit -a -m
    aa = "!git add -u && git add . && git status -s"
    amend = commit --amend
    amenda = commit -a --amend

    # add & reset
    r = reset
    rh = reset --hard
    rs = reset --soft
    rom = reset --hard origin/main

    # diff & log
    d = diff
    dt = difftool
    l = log
    ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
    ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat

    # fetch & push
    f = fetch
    fo = fetch origin
    fu = fetch upstream
    p = push
    po = push origin
    poh = push origin HEAD

    # branch & checkout
    b = branch
    co = checkout
    cob = checkout -b

    # merge & rebase
    m = merge
    mom = merge origin/main
    rb = rebase
    rbc = rebase --continue

    # grep & path search
    grep = grep -Ii
    gpath = "!git ls-files | grep -i"